.sidebar-slide {
  transition: transform 0.3s cubic-bezier(.4,0,.2,1), width 0.3s cubic-bezier(.4,0,.2,1);
  will-change: transform, width;
  height: 100%;
  position: relative;
  z-index: 2;
}
.sidebar-slide.closed {
  transform: translateX(-100%);
  width: 0 !important;
}
.sidebar-slide.open {
  transform: translateX(0);
  width: 280px;
}
